# Compiled python files
*.pyc
.pyc

# Idea files
.idea/tasks
*.iml
.idea/*
.idea/**

# Data files
# May want to add *.json after deciding
*.wav
*.rdvx
*.rdvxz
*.rdvxm
*.png
*.jpg
*.jpeg
*.tar
*.gz
*.h5
*.npy
*.parquet
*.pqt
*.npz
*.txt
*.lz4
*.bin
*.mseed

# Other files
*.DS_Store
*.swp
*.bak
*.env
*.pickle
*.pkl
*.csv
*.kml
*.tflite

# Profile outputs
*.prof

build
dist
waveflow.egg-info
UH_Soundscapes.egg-info/PKG-INFO
